[submodule "Ingenierie_Graphique/IG2-Traitement_flux_video/Projet-vision-ordi"]
	path = Ingenierie_Graphique/IG2-Traitement_flux_video/Projet-vision-ordi
	url = git@github.com:BenoitBad/Projet-vision-ordi.git